<section class="container mx-auto px-4 flex flex-col gap-2 mt-5">
  <h1 class="text-2xl font-semibold">游녦 About me</h1>
  <p class="text-sm">
    A lo largo de mi carrera, he contribuido con mi experiencia tanto en
    proyectos a peque침a escala como en proyectos grandes, abarcando tanto el
    desarrollo Frontend como Backend. Sin embargo, mi verdadera pasi칩n y enfoque
    se encuentran en el 치mbito Frontend. <br /><br /> Disfruto mucho enfrent치ndome
    a nuevos retos y aprendiendo continuamente. De hecho, se podr칤a decir que esta
    b칰squeda constante de conocimiento y resoluci칩n de retos es mi hobby favorito.
  </p>
</section>
