<section class="flex flex-col gap-5 mt-5">
  <h1 class="text-xl font-semibold">🎓 Education</h1>
  <div class="card">
    <div class="flex items-center justify-between">
      <div>
        <h2 class="text-lg font-semibold">Computer Engineering</h2>
        <p class="text-sm">University of Guadalajara</p>
      </div>
      <p class="text-sm">2015 - 2019</p>
    </div>
    <p class="text-sm mt-2">
      I graduated with a degree in Computer Engineering from the University of
      Guadalajara. I learned a lot at university and I am grateful for the
      experience.
    </p>
  </div>
</section>
