<section class="flex flex-col gap-5 mt-5">
  <h1 class="text-xl font-semibold">🎓 Education</h1>
  <div class="card">
    <div class="flex items-center justify-between">
      <div>
        <h2 class="text-lg font-semibold">
          Bachelor of Science in Computer Science
        </h2>
        <p class="text-sm">University of Guadalajara</p>
      </div>
      <p class="text-sm">2017 - 2021</p>
    </div>
    <p class="text-sm mt-2">
      I graduated with a Bachelor of Science in Computer Science from the
      University of the Philippines Los Baños. I learned a lot of things from
      the university, and I am grateful for the experience.
    </p>
  </div>
</section>
