---
import "@fontsource-variable/inter";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="dark:bg-zinc-950 dark:text-white">
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: "Inter Variable", sans-serif;
    letter-spacing: -0.025rem;
  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .delay-500ms {
    --fade-in-delay: 0.5s;
  }

  .delay-1000ms {
    --fade-in-delay: 1s;
  }

  .delay-1500ms {
    --fade-in-delay: 1.5s;
  }

  .delay-2000ms {
    --fade-in-delay: 2s;
  }

  .fade-in {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeIn 1s forwards;
    animation-delay: var(--fade-in-delay, 0s);
    animation-timing-function: ease-in-out;
    animation-duration: 0.3s;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>

<script>
  if (
    localStorage.getItem("color-theme") === "dark" ||
    (!("color-theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }
</script>
